.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--container-height);
}

.footer {
  height: calc(100% - var(--container-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bs-light);
  color: var(--bs-dark);
  padding: 5px
}

.toggleContainer {
  position: fixed;
  top: 20px;
  right: 20px;
}

.githubIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 auto;
}